# Environments 
.env 
.venv 
env/ 
venv/ 
#db#
db.sqlite3
# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
#vscode#
package-lock.json
launch.json
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid
__pycache__
